h1 {
	font-size: 60px;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Clifton_Suspension_Bridge_2018.jpg/1599px-Clifton_Suspension_Bridge_2018.jpg');
}

p {
	font-size: 60px;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Clifton_Suspension_Bridge_2018.jpg/1599px-Clifton_Suspension_Bridge_2018.jpg');
}